body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    max-width: 900px;
    width: 100%;
}


.form-section {
    flex: 1;
    padding: 20px;
    background-color: #e0f7f9; 
}

fieldset {
    border: 1px solid #999;
    padding: 15px;
}

legend {
    font-weight: bold;
}

.input-group {
    margin-bottom: 12px;
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 4px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="datetime-local"],
select {
    width: 90%;
    padding: 4px;
    border: 1px solid #ccc;
}

.radio-group, .checkbox-group {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 2px;
}

.radio-group label, .checkbox-group label {
    display: inline;
    font-weight: normal;
}

button {
    margin-top: 10px;
    padding: 5px 15px;
    cursor: pointer;
}

/* Poster Styling */
.poster-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fce4ec;
    border-color: white;
}

.poster-section img {
    width: 400%;
    display: block;
}

